<?php
  // Copyright (c) 2016  Sacarlson  sacarlson_2000@yahoo.com -->
 // mysql configs
  $servername = "localhost";
  $username = "username";
  $password = "password";
  $dbname = "track_data";
   
?>

